@media screen and (max-width: 1200px) {

    * {
        padding: 0;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
        position: -webkit-sticky;
        /* For Safari */
        position: sticky;
        top: 0;
        /* Stick the Navbar at the top of the viewport */
        z-index: 1000;
        margin-bottom: 30px;
        font-weight: 700;
        height: 100px;
        background-color: #ffecec; 
    }

    #hamburger-nav .mode {
        /* filter: invert(20); */
        margin: 0;
        padding-left: 100px;
        font-size: 30px;
    }

    #hamburger-nav .joe {
        margin-left: -30px;
        width: 170px;
    }

    #hamburger-nav .logo {
        width: 50px;
    }

    #hamburger-nav img {
        margin-left: 100px;
    }

    #hamburger-nav a {
        background-color: rgba(236, 215, 215, 0.205);
        font-size: small;
    }

    #profile,
    .section-container {
        display: block;
    }

    #about {
        margin-top: 120px;
        align-items: center;
        text-align: center;
    }

    #experience,
    .experience.details-container {
        margin-top: 2rem;
    }

    .arrow {
        display: none;
    }

    section,
    .section-container {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .section__text {
        margin-top: 15%;
        align-items: center;
        text-align: center;
    }

    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-containers {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {

    #contact {
        height: 40vh;
    }


    #profile {
        height: 83vh;
        margin-bottom: 0;
    }

    article {
        font-size: 5px;
    }

    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }

    .about-containers {
        padding: 7px;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container {
        font-size: 1rem;
    }

    .experience-sub-title {
        font-size: 1.25rem;
    }

    #contact ul {
        margin-left: 300px;
    }


    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .section__text__p2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .section__text {
        padding-top: 70%;
    }

    .text-container {
        text-align: justify;
    }

    .section__pic-container img {
        width: 320px;
        height: 320px;
        margin-top: 70px;
        padding: 0;
    }

    .color-container {
        display: inline-block;
        justify-content: space-between;
        /* align-items: ; */
        /* gap: 60px; */
        animation: animation 10s linear infinite alternate;
    }

    @keyframes animation {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
    }


}